<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мои заметки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Мои заметки</h1>
        
        <!-- Кнопка создания новой заметки -->
        <button class="create-note-btn" onclick="location.href='/create_notes'">
            Создать новую заметку
        </button>
        
        <div id="list">
            {% for note in data %}
                <div class="content">
                    <div>{{note[1]}}</div>
                    <div class="metadata">
                        <a href="/notes/{{note[0]}}">
                            Читать заметку
                        </a>
                    </div>
                </div>
            {% endfor %}
            
            {% if not data %}
                <div>
                    <div class="content">
                        У вас пока нет заметок
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
